<template>
    <div>
        <h1 class="mt-5 mb-4 pb-2 text-uppercase text-center">Consultar Levantamento de Preço</h1>

        <div class="container-sm">

            <div class="form-group mb-4">
                <label for="municipio">Município</label>
                <select id="municipio"
                        class="form-control"
                        name="municipio"
                        v-bind:class="{ 'is-invalid': this.submitted && !isMunicipioValid() }"
                        v-on:change="municipioChanged"
                        v-model="municipio">
                    <option v-if="!municipios" value="null" disabled hidden>
                        Carregando municípios...
                    </option>
                    <template v-if="municipios !== null">
                        <option v-if="municipios.length === 0" value="null" disabled hidden>
                            Nenhum município disponível
                        </option>
                        <option v-if="municipios.length !== 0" value="null" disabled hidden>
                            Selecione um município
                        </option>
                        <option v-for="municipio in municipios" v-bind:value="municipio">
                            {{ municipio.nome }}
                        </option>
                    </template>
                </select>
                <div class="invalid-feedback">
                    É preciso selecionar um município.
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="produto">Produto</label>
                <select id="produto" class="form-control" name="produto"
                        v-bind:class="{ 'is-invalid': this.submitted && !isProdutoValid() }"
                        v-model="produto">
                    <option v-if="!produtos" value="null" disabled hidden>
                        Carregando produtos...
                    </option>
                    <option v-if="produtos && produtos.length !== 0"
                            value="null" disabled hidden>
                        Selecione um produto
                    </option>
                    <option v-if="produtos && produtos.length === 0"
                            value="null" disabled hidden>
                        Nenhum produto disponível
                    </option>
                    <option v-for="produto in produtos" v-bind:value="produto">
                        {{ produto.nome }}
                    </option>
                </select>
                <div class="invalid-feedback">
                    É preciso selecionar um produto.
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="produtor">Produtor</label>
                <select id="produtor" class="form-control" name="produtor"
                        v-bind:class="{ 'is-invalid': this.submitted && !isProdutorValid() }"
                        v-model="produtor">
                    <option v-if="!municipio" value="null" disabled hidden>
                        Primeiro, selecione um município
                    </option>
                    <template v-if="municipio">
                        <option v-if="!produtores[municipio.id]" value="null" disabled hidden>
                            Carregando produtores...
                        </option>
                        <option v-if="produtores[municipio.id] && produtores[municipio.id].length !== 0"
                                value="null" disabled hidden>
                            Selecione um produtor
                        </option>
                        <option v-if="produtores[municipio.id] && produtores[municipio.id].length === 0"
                                value="null" disabled hidden>
                            Nenhum produtor disponível
                        </option>

                        <option v-for="produtor in produtores[municipio.id]" v-bind:value="produtor">
                            {{ produtor.nome }}
                        </option>
                    </template>
                </select>
                <div class="invalid-feedback">
                    É preciso selecionar um produtor.
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="ano">Ano</label>
                <select id="ano" class="form-control" name="ano" v-model="ano">
                    <option v-for="ano in anosLevantamento" v-bind:value="ano">
                        {{ ano }}
                    </option>
                </select>
            </div>

            <div class="form-group mb-4">
                <label for="mes">Mês</label>
                <select id="mes" class="form-control" name="mes" v-model="mes">
                    <option v-for="mes in meses" v-bind:value="mes">{{ mes.nome }}</option>
                </select>
            </div>

            <div class="form-group mb-4">
                <label for="semana">Semana</label>
                <select id="semana" class="form-control" name="semana" v-model="semana">
                    <option v-for="semana in semanas" v-bind:value="semana">{{ semana }}</option>
                </select>
            </div>

            <button type="button" class="btn btn-dark btn-md mt-4 d-block mx-auto" v-on:click="consultar">
                Consultar
            </button>
        </div>

        <div v-if="loaded" class="my-5">
            <table v-if="resultados.length" class="mx-auto">
                <thead>
                <tr>
                    <th v-for="campo in Object.keys(resultados[0])">{{ campo }}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="resultado in resultados">
                    <td v-for="campo in resultado">{{ campo }}</td>
                </tr>
                </tbody>
            </table>

            <h4 v-else class="text-center">Nenhum resultado encontrado.</h4>
        </div>

    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        mounted() {
            this.ano = (new Date()).getFullYear()
            this.mes = this.meses[0]
            this.semana = 1
        },
        computed: mapState([
            'municipios',
            'produtores',
            'produtos',
            'anosLevantamento',
        ]),
        data() {
            return {
                submitted: false,
                loaded: false,
                resultados: [],
                municipio: null,
                produto: null,
                produtor: null,
                ano: null,
                mes: null,
                semana: null,
                meses: [
                    {valor: 1, nome: 'Janeiro'},
                    {valor: 2, nome: 'Fevereiro'},
                    {valor: 3, nome: 'Março'},
                    {valor: 4, nome: 'Abril'},
                    {valor: 5, nome: 'Maio'},
                    {valor: 6, nome: 'Junho'},
                    {valor: 7, nome: 'Julho'},
                    {valor: 8, nome: 'Agosto'},
                    {valor: 9, nome: 'Setembro'},
                    {valor: 10, nome: 'Outubro'},
                    {valor: 11, nome: 'Novembro'},
                    {valor: 12, nome: 'Dezembro'},
                ],
                semanas: [1, 2, 3, 4, 5],
            }
        },
        methods: {
            municipioChanged() {
                this.produtor = null

                this.$store.dispatch('getProdutores', this.municipio)
            },
            isMunicipioValid() {
                return this.municipio
            },
            isProdutoValid() {
                return this.produto
            },
            isProdutorValid() {
                return this.produtor
            },
            consultar() {
                this.loaded = false
                this.submitted = true

                if (!this.isMunicipioValid() || !this.isProdutoValid() || !this.isProdutorValid()) {
                    return
                }

                this.$http.get('levantamento', {
                    params: {
                        municipio: this.municipio.id,
                        produto: this.produto.id,
                        produtor: this.produtor.id,
                        ano: this.ano,
                        mes: this.mes.valor,
                        semana: this.semana,
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        this.loaded = true
                        this.resultados = data.data

                        console.log(this.resultados)
                    })
                    .catch(error => {
                        console.error('Falha ao consultar levantamento: ' + error)
                    })
            },
        },
    }
</script>
