<template>
    <nav class="navbar navbar-expand navbar-dark bg-primary p-0">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown p-1 mr-4"
                    v-bind:class="{ active: ['consulta-detalhada', 'consulta-series'].includes(currentComponent) }">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-toggle="dropdown">Consulta</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="#consulta-detalhada"
                           v-on:click="$store.dispatch('setComponent', 'consulta-detalhada')">Preços detalhados</a>
                        <a class="dropdown-item"
                           href="#consulta-series"
                           v-on:click="$store.dispatch('setComponent', 'consulta-series')">Séries históricas</a>
                    </div>
                </li>
                <li class="nav-item p-1 mr-4"
                    v-bind:class="{ active: currentComponent === 'levantamento' }"
                    v-if="user">
                    <a class="nav-link"
                       href="#levantamento"
                       v-on:click="$store.dispatch('setComponent', 'levantamento')">Levantamento</a>
                </li>
                <li class="nav-item dropdown p-1 mr-4"
                    v-bind:class="{ active: ['consulta-levantamento', 'definicao-produtos', 'intervalo', 'importar'].includes(currentComponent) }"
                    v-if="user">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-toggle="dropdown">Gerenciar</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="#consulta-levantamento"
                           v-on:click="$store.dispatch('setComponent', 'consulta-levantamento')">Levantamentos
                            realizados</a>
                        <a class="dropdown-item"
                           href="#definicao-produtos"
                           v-on:click="$store.dispatch('setComponent', 'definicao-produtos')">Participação no
                            levantamento</a>
                        <a class="dropdown-item"
                           href="#intervalo"
                           v-on:click="$store.dispatch('setComponent', 'intervalo')">Parâmetros de preços</a>
                        <a class="dropdown-item"
                           href="#importar"
                           v-on:click="$store.dispatch('setComponent', 'importar')">Importar dados de produção</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item p-1">
                    <a class="nav-link" href="#" v-if="user" v-on:click="$store.dispatch('logout')">Sair</a>
                    <a class="nav-link" href="#" v-else v-on:click="$store.dispatch('login')">Entrar no sistema</a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        computed: mapState([
            'user',
            'currentComponent'
        ]),
    }
</script>
